/* Created Using Easy HTML v1.4.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

body{
  background-color: black;
  }
h1{
  color: #FFFFFF;
  }
p{
  color: #FFFFFF;
  }
h2{
  color: #FFFFFF;
  }
h5{
  color: #FFFFFF;
  }
btn{
padding:10px;
border-radius: 10px;
}  
a{ 
display: flex;

justify-content: center;

align-items: center;

flex-direction: column;
display: block;

background: #959BDE; color: #fff;

padding: 10px;

cursor: pointer;

text-decoration: none; width: 500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition:all 0.5s;
text-align: center;
font-family: 'Zen Tokyo Zoo', Cursivr
border-radius: 10px;

font-size: 45px;

}
